include index
    body   
        div.flex.flexDirCol
            div.content.flexVert.vertical-center
                div.col
                    div.row.justify-content-center
                        h1.disable-select Auto Generator:
                    br
                    div.row.justify-content-center
                        form(action="/result" method="GET")
                            div.row.justify-content-center
                                label.disable-select(for="auto") Choose amount of PCs:
                                input(type="hidden" id="auto" name="type" value="auto")
                                input.form-control(placeholder="amount" type="number" min="1" max="64768" name="amount" required)
                            br
                            div.row.justify-content-center
                                div.col
                                    div.row.justify-content-center
                                        p.disable-select Choose way of calculation:
                                    div.row.justify-content-center.radio-toolbar
                                        input(type="radio" id="minIP" name="calcWay" value="minIP" checked)
                                        label.disable-select(for="minIP") Minimum IP
                                        input(type="radio" id="minNet" name="calcWay" value="minNet")
                                        label.disable-select(for="minNet" style="padding-top: 48px;") Minimum networks
                            br
                            div.row.justify-content-center
                                button.btn.btn-light.margin5.disable-select(type='submit')
                                    b COMPLETE
                            div.row.justify-content-center
                                a.margin5.disable-select(href="/calculator")
                                    button.btn.btn-light(type="button")
                                        b BACK
            div.footer
                div.horizontal-center
                    p.disable-select &copy; IP Calculator 2020