include index
    body   
        div.flex.flexDirCol
            div.content.flexVert.vertical-center
                div.col
                    div.row.justify-content-center
                        h1.disable-select How do you want to generate network?
                    br
                    div.row.justify-content-center
                        form(action="/calculator" method="GET")
                            div.row.justify-content-center
                                a.margin5.disable-select(href="/auto")
                                    button.btn.btn-light.bigButton(type="button")
                                        b AUTO
                                a.margin5.disable-select(href="/manual")
                                    button.btn.btn-light.bigButton(type="button")
                                        b MANUAL
                            br
                            div.row.justify-content-center
                                a.margin5.disable-select(href="/")
                                    button.btn.btn-light(type="button")
                                        b BACK
            div.footer
                div.horizontal-center
                    p.disable-select &copy; IP Calculator 2020