include index
    body   
        div.flex.flexDirCol
            div.content.flexVert.vertical-center
                div.col
                    div.row.justify-content-center
                        h1.disable-select IP Calculator
                    br
                    div.row.justify-content-center
                        a.disable-select(href="/calculator")
                            button.btn.btn-light
                                b GET STARTED
            div.footer
                div.horizontal-center
                    p.disable-select &copy; IP Calculator 2020