include index
    script(src='js/tableEdit.js')
    body   
        div.flex.flexDirCol
            div.content.flexVert.vertical-center
                div.col
                    div.row.justify-content-center
                        h1.disable-select Manual Generator:
                    br
                    form(action="/result" method="GET")
                        div.row.justify-content-center
                            div.col-(id='tableDiv')
                                    input(type="hidden" id="auto" name="type" value="manual")
                                    .horizontal-center.py-4
                                        table.result-table(id='table')
                                            thead
                                                tr
                                                    th(style="min-width: 50px;") Network
                                                    th(style="min-width: 120px;") Hosts
                                                    th(style="min-width: 80px;") 
                                                        div.row.justify-content-end
                                                            button.btn.btn-success.tableButton.disable-select(type="button" id='table-add')
                                                                b +                                          
                                            if session.networkInfo.length > 0
                                                - var number = 0;
                                                each network in session.networkInfo
                                                    tr.result-row
                                                        - number++
                                                        th #{ number } 
                                                        th
                                                            input.form-control(type="number" min="1" max="256" name="net" value=network.hosts.replace(/\D+/, ''))
                                                        th
                                                            div.row.justify-content-end
                                                                button.btn.btn-danger.tableButton.disable-select(type="button" id='table-up')
                                                                    i.material-icons keyboard_arrow_up
                                                                button.btn.btn-danger.tableButton.disable-select(type="button" id='table-down')
                                                                    i.material-icons keyboard_arrow_down
                                                                button.btn.btn-danger.tableButton.disable-select(type="button" id='table-rm')
                                                                    b -
                                            else
                                                tr.result-row
                                                    th 1
                                                    th
                                                        input.form-control(type="number" min="1" max="256" name="net" placeholder=0)
                                                    th
                                                        div.row.justify-content-end
                                                            button.btn.btn-danger.tableButton.disable-select(type="button" id='table-up')
                                                                i.material-icons keyboard_arrow_up
                                                            button.btn.btn-danger.tableButton.disable-select(type="button" id='table-down')
                                                                i.material-icons keyboard_arrow_down
                                                            button.btn.btn-danger.tableButton.disable-select(type="button" id='table-rm')
                                                                b -
                        div.row.justify-content-center
                            button.btn.btn-light.margin5.disable-select(type='submit')
                                b COMPLETE
                    div.row.justify-content-center
                        a.margin5.disable-select(href="/calculator")
                            button.btn.btn-light(type="button")
                                b BACK

            div.footer
                div.horizontal-center
                    p.disable-select &copy; IP Calculator 2020