include index
    body
    div.flex.flexDirCol
            div.content.flexVert.vertical-center
                div.col
                    div.row.justify-content-center
                        -var ip = 'minIP'
                        -var networks = 'minNet'
                        -var manual = 'manual'
                        #session.type
                            if session.type === manual
                                h4.horizontal-center.pt-5 Result of manual option
                            else
                                #session.minimum
                                    if session.minimum === ip
                                        h4.horizontal-center.pt-5 Result of 'minimum IP' option for #{session.amount} PC's
                                    else if session.minimum === networks
                                        h4.horizontal-center.pt-5 Result of 'minimum networks' option for #{session.amount} PC's
                                    else
                                        h4.horizontal-center.pt-5 Something went wrong!
                    div.row.justify-content-center
                        .horizontal-center.py-4
                            table.result-table
                                thead
                                    tr
                                        th Subnet Mask
                                        th CIDR Subnet Mask
                                        th Network Address
                                        th First host
                                        th Last host
                                        th Broadcast
                                        th Hosts
                                each network in session.networkInfo
                                    tr.result-row
                                        th #{ network.maskAddress} 
                                        th #{ network.shortMask} 
                                        th #{ network.networkIP}  
                                        th #{ network.firstHostIP}  
                                        th #{ network.lastHostIP}  
                                        th #{ network.broadcastIP}  
                                        th #{ network.hosts}
                    div.row.justify-content-center(style="margin: 0")
                        a.margin5.disable-select(href="/calculator?type=auto")
                            button.btn.btn-light(type="button")
                                b BACK
                        a.margin5.disable-select(href="/manual")
                            button.btn.btn-light(type="button")
                                b EDIT
                        a.margin5.disable-select(href="/")
                            button.btn.btn-light(type="button")
                                b HOME
            div.footer
                div.horizontal-center
                    p.disable-select &copy; IP Calculator 2020
