body {
    margin: 0;
    background: #222;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.flexVert {
    flex: auto 1 0;
}

.flexHoriz {
    flex: auto 0 1;
}

.flexDirCol {
    flex-direction: column;
}

.flexDirRow {
    flex-direction: row;
}

.flex {
    display: flex;
    height: 100vh;
}

.h1 {
    margin: 0;
    font-weight: normal;
    font-family: 'Bodoni 72', sans-serif;
    font-size: 70px;
}

.margin5 {
    margin: 5px;
}

.bigButton {
    width: 150px;
    height: 150px;
}

.radio-toolbar {
    margin: 10px;
}
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    width: 0;
    position: fixed;
    height: 150px;
    margin-left: 5px;
}

.radio-toolbar label {
    display: inline-block;
    background-color: darkgrey;
    border: 2px solid black;
    border-radius: 4px;
    width: 150px;
    height: 150px;
    text-align: center;
    color: rgb(104, 104, 104);
    font-weight: bold;
    margin: 2px;
    cursor: pointer;
    padding-top: 60px;
}

.radio-toolbar label:hover + label{
    background-color: lightgray;
    color: black;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: lightgray;
    color: black;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.result-table {
    max-width: 100%;
    overflow-x: scroll;
}

.result-table thead {
    background: lightgrey;
    color: black;
    border: 2px solid black;
}

.result-table th{
    text-align: inherit;
    padding: 13px 30px 13px 20px;
    border-bottom: 1px solid lightgrey;
    height: 70px;
}

.result-table tr.result-row:hover{
    background: #3e3e3e;
}

.tableButton {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0 2px 0 2px;
}

input[name=net] {
    min-width:200px;
}